<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{ page.title }}</title>

  <!-- COPY ENTIRE <head> CONTENT FROM index.html -->
  <!-- NO CHANGES -->
   <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

  <link rel="icon" type="image/png" href="static/favicon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Styles -->
  <link rel="stylesheet" href="static/style.css">

	<meta property="og:title" content="Dr. Hossain, Ph.D. | Computational Materials & Quantum Research">
	<meta property="og:description" content="Research at the intersection of AI, DFT, and Quantum Computing.">
	<meta property="og:image" content="https://hossain-cq.github.io/static/profile.png"> <meta property="og:url" content="https://hossain-cq.github.io/">
	<meta property="og:type" content="website">
	<meta name="twitter:card" content="summary_large_image">
  
</head>

<body>

<div class="bg" aria-hidden="true">
  <div class="blob blob-1"></div>
  <div class="blob blob-2"></div>
  <div class="blob blob-3"></div>
</div>

{% include header.html %}

<main id="top" class="container main-content" role="main">
  {{ content }}
</main>

{% include footer.html %}

<script src="static/script.js"></script>
</body>
</html>
